bertviz==1.4.1
gensim==4.4.0
matplotlib==3.10.8
numpy==2.4.4
ollama==0.6.1
pandas==3.0.2
requests==2.33.1
scikit-learn==1.8.0
seaborn==0.13.2
tiktoken==0.12.0
torch==2.11.0
torchvision==0.26.0
transformers==5.5.0
